.divv{
display: flex; 
align-items: center;
justify-content: center;
flex-direction: column;
gap: 22px;
}
#imgg{
  height: 30%;
  width: 30%;

}

#btn{
 background-color: blueviolet;
 border-radius: 50px;
 padding:10px;
}